<loader-drct ng-show="hc.loading"></loader-drct>
<br>
<h3 class="text-center">Страница {{hc.currentPage}}</h3>
<hr>
<div class="pokemons" ng-show="hc.pokemons">
    <div class="row pokemons-list">
        <div class="col-md-3" ng-repeat="pokemon in hc.pokemons">
            <a href="/#!/pokemon/{{ pokemon.name }}" class="lead">{{ pokemon.name }}</a>
        </div>
    </div>
</div>
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li ng-repeat="page in hc.pages"><a href="{{page.url}}">{{page.number}}</a></li>
    </ul>
</nav>