<loader-drct ng-show="pc.loading"></loader-drct>
<a href="javascript:void(0);" ng-click="pc.go_back()">Назад к списку</a>
<br>
<h3 class="text-center pokemon-name">{{pc.pokemon.name}}</h3>


<div class="pokemon" ng-show="pc.pokemon.name">
    <div class="row pokemon">
        <div class="col-sm-12 text-center">
            <img src="{{pc.pokemon.sprites.front_default}}" alt="{{pc.pokemon.name}}" ng-show="pc.pokemon.sprites.front_default">
            <img src="{{pc.pokemon.sprites.back_default}}" alt="{{pc.pokemon.name}}" ng-show="pc.pokemon.sprites.back_default">
        </div>
        <div class="col-sm-12">
            <form ng-submit="pokemonUpdate()">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pc.pokemon.is_default" ng-disabled="!pc.editMode">
                        Is default
                    </label>
                </div>

                <div class="form-group">
                    <label>Base experience</label>
                    <input type="text" class="form-control" ng-model="pc.pokemon.base_experience" ng-disabled="!pc.editMode">
                </div>
                <div class="form-group">
                    <label>Height</label>
                    <input type="text" class="form-control" ng-model="pc.pokemon.height" ng-disabled="!pc.editMode">
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input type="text" class="form-control" ng-model="pc.pokemon.weight" ng-disabled="!pc.editMode">
                </div>
                <div ng-show="pc.editMode">
                    <button class="btn btn-success" ng-click="pc.updatePokemon()">Ок</button>
                    <button class="btn btn-default" ng-click="pc.cancelEdit()">Отмена</button>
                </div>
                <div ng-show="!pc.editMode" ng-click="pc.editMode = true" class="btn btn-primary">Изменить</div>
            </form>
        </div>
    </div>
</div>
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li ng-repeat="page in hc.pages"><a href="{{page.url}}">{{page.number}}</a></li>
    </ul>
</nav>