html, body{
  height: 100%;
}

.progress{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  border-radius: 0;
}

.pokemons-list{
  a{
    text-transform: capitalize;
  }
}

.pokemon-name{
  text-transform: capitalize;
}